header {
    background-color: rgba(193, 255, 255, 0.76);
  height: 250px;
  margin: 0 auto;
  box-shadow: 20px 20px 20px rgb(0, 0, 0);
 
}
img.hp {
    width: 200px;
    height: 200px;
    left: 10px;
    transition: 6s ease-in-out;
    transition: 3s ease-in-out;
}
/*img.hp:hover {
    transform: rotate(360deg);
    transition: 5s all;
}*/
img:hover.hp {
    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
/**header > nav {
    width: 80em;
    border-top: 1px solid black;
    margin: 10px;
    } **/
body {
    background-image: url(red-sky-clouds-during-sunset-picjumbo-com.jpg);
     padding-left: 10%;
    padding-right: 10%;
}
p {
   box-shadow: 20px 20px 30px rgba(255, 127, 80, 0.966);
   border: solid 1px rgb(0, 0, 0);
   background-color: rgba(255, 255, 255, 0.082);
   padding: 10px;
   padding-left: 15px;
   padding-right: 15px;
   text-align: center;
   font-size: x-large;
   
}
.tex {
    background-color: rgba(230, 152, 152, 0.322);
    color: rgb(0, 0, 0);
}
.tex:hover {
    color: aqua;
}
a.vr:hover {
    background-color: #3e8e41;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
  
}
li { 
    color: rgba(0, 0, 0, 0);
}
ul.vr {
    position: absolute;
    right: 140px;
    height: 180px;
    top:0px;
    font-size: 50px;
    padding: 12px;
    text-align: center;  
    margin-top: 2%;
}
/*.lin {
    color: yellow;
    font-size: 50px;
}
.lin:visited {
    color: rgba(0, 4, 255, 0.705);
}
/*:last-child {
    color: yellowgreen;
}
:first-child{
    color: violet;
}*/
h1 {
    right: 40%;
    top: 15%;
    color: black;
    position: absolute;
}
p::first-letter{
    font-size: 3em;
}
p::first-line {
    background-color: rgba(255, 0, 200, 0.397);
}
p::-moz-selection {
    color: teal;
}
::selection {
    color: yellow;
}
div.linn {
    margin-top: 10px;
    text-align: center;
}
a.lin {
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
a.nz {
    margin:  10px;
    text-align: center;
    float: right;
    font-size: 20px;
}
img.pc {
    width: 300px;
    height: 200px;
}
/*div {
    background-image: linear-gradient(rgb(53, 255, 53),rgb(1, 29, 1) );
    height: 200px;
    width: 200px;
    margin: 2%;
    float:right;
}
#one {
    background-image: linear-gradient(rgb(53, 255, 53),rgb(45, 11, 138) );
}
#two {
    background-image: linear-gradient(to top left, rgb(53, 255, 53), rgb(45, 11, 138), rgb(223, 17, 27)60%);
}*/
